<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sound.kiosk.menu.MenuMapper">
	<resultMap type="com.sound.kiosk.menu.MenuDTO" id="menuDto"> <!-- id는 식별자일뿐 -->
		<result column="publication_year" property="publicationYear" />
		<result column="rest_vol" property="restVol" />
	</resultMap>

	<select id = "findMaxNum">
  		SELECT MAX(total_id) FROM totalBook
  	</select>

	<select id="getTable" resultMap="bookDto">
		<if test="whichTable == 'popularBook'">
			<!-- SELECT bookImageURL FROM popularBook WHERE no <![CDATA[ <= ]]> 5 -->
			SELECT * FROM popularBook
		</if>
		<if test="whichTable == 'recentBook'">
			SELECT * FROM recentBook
		</if>
	</select>

	<!-- 대출 신청(예약) -->
	<insert id="insertLoan" parameterType="com.care.library.search.BookLoanDTO">
		INSERT INTO bookLoan (user_id, bookName, isbn, status, reserve_date) 
		values(#{userId}, #{bookName}, #{isbn}, 'R', #{reserveDate})
	</insert>
	
	<!-- 대출 예약 취소 -->
	<delete id ="reserveCancel">
		DELETE bookLoan WHERE loan_id = #{loanId}
	</delete>
	
	<!-- 대출 연장하기 -->
	<update id="updateLoanStatus">
  		UPDATE bookLoan SET status = 'LE', end_date=#{newEndDate} WHERE user_id= #{id} AND isbn = #{isbn}
  	</update>
		
</mapper>







  