<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="../../css/main.css" />
  <script src="/js/main.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <img src="../../img/logo.png" />
    </header>
    <div class="content" onclick="location.href='coffee.html'">
      <img src="../../img/icon-mic.png" />
      <div class="msg speech-to-order">말로 주문해 보세요!</div>
    </div>
    <div class="footer">
      <div class="button-here">매장 식사 ></div>
      <div class="button-togo">포장 하기 ></div>
    </div>
  </div>
</body>
</html>