body {
    margin: 0;
}

.container {
    width: 980px;
    height: 995px;
    position: absolute;
    flex-shrink: 0;
    
    border: 1px solid #000000;
    background: #D9D9D9;
}

header {
    width: 980px;
    height: 92px;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: left;

    background: #67A0DA;
}

.title {
    margin-top: 10px;
    margin-left: 20px;

    color: #FFFFFF;
    text-align: left;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    width: 980px;
    height: 104px;
    flex-shrink: 0;
    
    display: flex;
    flex-direction: row;
}

.txt-cnt {
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 50px;

    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.val-cnt {
    margin-left: 50px;
    margin-right: 50px;

    color: #D3585C;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt-cost {
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 50px;

    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.val-cost {
    margin-left: 20px;

    color: #D3585C;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

hr {
    width: 980px;
    height: 1px;

    background: #000000;
}

.img-card {
    width: 512px;
    height: 512px;
    flex-shrink: 0;

    align-self: center;
}

.img-credits {
    margin-top: 130px;
    margin-bottom: 90px;

    width: 400px;
    height: 345px;
    flex-shrink: 0;
    
    align-self: center;
}

footer {
    width: 980px;
    height: 190px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #D9D9D9;
}

.msg {
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.msg-warn {
    color: #D3585C;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}