body {
    margin: 0;
}

.container {
    width: 980px;
    height: 1000px;
    flex-shrink: 0;
    
    border: 1px solid #000000;
    background: #E6E6E6;
}

header {
    width: 980px;
    height: 123px;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
}

.msg-cost {
    margin-right: 500px;

    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.val-cost {
    color: #D3585C;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.msg {
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-no {
    color: #D3585C;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

img {
    margin-top: 44px;
    margin-left: 358px;

    width: 264px;
    height: 258px;
}

footer {
    width: 980px;
    height: 371px;
    flex-shrink: 0;

    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .msg {
    font-size: 64px;
    font-weight: 400;
    line-height: normal;
}

.msg-warn {
    color: #D3585C;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}