<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>credits</title>
    <link rel="stylesheet" href="../../static/css/pop.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="msgbox-title">
                <img src="../../static/img/msgbox.png" />
                <div class="msgbox-ttext">알림 메세지</div>
            </div>
        </header>
        <div class="content">
            <div class="msgbox-content">현금 결제하시겠습니까?</div>
            <footer>
                <div class="buttons">
                    <button class="btn-yes">네</button>
                    <button class="btn-no">아니오</button>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>