<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input credits</title>
    <link rel="stylesheet" href="../../static/css/pop_input.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="title">현금결제</div>
        </header>
        <div class="content">
            <div class="top">
                <div class="txt-cnt">주문 수량</div>
                <div class="val-cnt">2</div>
                <div class="txt-cost">결제금액</div>
                <div class="val-cost">5,500</div>
            </div>
            <hr />
            <img src="../../static/img/input_credits.png" class="img-credits" />
        </div>
        <footer>
            <div class="msg">IC 카드를 투입구에 넣어주세요.</div>
            <div class="msg-warn">30초 내로 삽입이 안될 경우 결제가 취소됩니다!!</div>
        </footer>
    </div>
</body>
</html>