<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="../../static/css/receipt.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="msg-cost">결제금액</div>
            <div class="val-cost">5,500</div>
        </header>
        <hr />
        <div class="content">
            <div class="msg">영수증을 받아가세요</div>
            <div class="order-no">주문번호 : 112</div>
            <img src="../../static/img/receipt.png" />
        </div>
        <footer>
            <div class="msg">결제가 완료되었습니다.<br>이용해주셔서 감사합니다.</div>
            <div class="msg-warn">결제 완료 화면은 잠시 후 닫힙니다.</div>
        </footer>
    </div>
</body>
</html>