<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tea & Ade</title>
  <link rel="stylesheet" href="../../static/css/menu_sound.css" />
  <script src="../../static/js/menu.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <div class="button-home"><img src="../../static/img/home.png" />처음으로</div>
      <div class="menu-tabs">
        <img src="../../static/img/left-arrow.png" onclick="location.href='coffee.html'" />
        <div class="menu-coffee">커피</div>
        <div class="menu-tea strong">티 & 에이드</div>
        <div class="menu-dessert">디저트</div>
        <img src="../../static/img/right-arrow.png" onclick="location.href='dessert.html'" />
      </div>
    </header>
    <div class="content">
     <table class="menu-table">
      <th><img src="../../static/img/tea.png" /></th>
      <th><img src="../../static/img/tea.png" /></th>
      <th><img src="../../static/img/tea.png" /></th>
      <tr>
        <td>홍차  2500원</td>
        <td>아이스티  3000원</td>
        <td>녹차  2500원</td>
      </tr>
      <tr>
        <td><img src="../../static/img/tea.png" /><br>홍차  2500원</td>
        <td><img src="../../static/img/tea.png" /><br>아이스티  3000원</td>
        <td><img src="../../static/img/tea.png" /><br>녹차  2500원</td>
      </tr>
     </table>
     <footer>
      <div class="total">
        <div class="count-order">
          <div class="number-order">0</div>
          <div class="text-order">주문수량</div>
        </div>
        <div class="placeholder"><!-- 주문수량과 합계금액 사이의 공백 --></div>
        <div class="price-total">
          <div class="number-price">0</div>
          <div class="text-price">합계금액</div>
        </div>
        <div class="buttons">
          <div class="button-cancel">
            <img src="../../static/img/cancel.png" />
            <div class="text-cancel">전체취소</div>
          </div>
          <div class="button-card">
            <img src="../../static/img/card.png" />
            <div class="text-card">카드결제</div>
          </div>
          <div class="button-credits">
            <img src="../../static/img/credits.png" />
            <div class="text-credits">현금결제</div>
          </div>
        </div>
      </div>
     </footer>
    </div>
  </div>
</body>
</html>